<div class="search">
  <div class="search-header">
    <div>
      <h1>Find your favorite movie</h1>
    </div>
    <div [formGroup]="searchForm">
      <input formControlName="title" type="text" placeholder="E.g. Harry Potter"/>
    </div>
  </div>
  <div class="search-results">
    <div class="search-results-group">
      <div class="search-results-group-title">
        <h2>| Movies from 2023</h2>
      </div>
      <div class="search-results-group-movies">
        <div class="search-results-group-movie">
          <div class="search-results-group-movie-image">
            <img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg"/>
          </div>
          <div class="search-results-group-movie-info">
            <div class="search-results-group-movie-info-title">
              <strong>Movie title</strong>
            </div>
            <div class="search-results-group-movie-info-awards">
              Nominated for 3 Oscars. 47 wins & 94 nominations total
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
